header.my-header-bg {
    background-color: rgb(44, 62, 80);
    height: 50px;
    color: white;
}

.header-left,
.header-right {
    height: 50px;
    border: 1px solid white;
}

section#jumbotron .my-row-jumbo {
    height: 100%;
}

section#portfolio .port-row {
    height: 70px;
    background-color: aquamarine;
}

section#portfolio div.my-cards {
    justify-content: center;
    gap: 0 1rem;
}

div.my-cards div.card-height {
    height: 15rem;
}

section#about div.row-about {
    height: 150px;
    border: 1px solid black;
}

section#about div.text-about {
    height: 22rem;
    justify-content: center;
    margin-bottom: 1.5rem;
    gap: 1.5rem;
}

div.text-about div.border-about {
    border: 1px solid red;
}

section#contact-me div.row-msg {
    justify-content: center;
    height: 18rem;
}

div.row-msg div.my-msg {
    background-color: coral;
}

section#my-footer-top div.myrow-footer-top {
    justify-content: center;
    text-align: center;
    padding-top: 2.3rem;
}

section#my-footer-bottom div.myrow-footer-bottom {
    height: 100%;
    align-items: center;
}

div.myrow-footer-bottom div.my-col-fb {
    text-align: center;
}

section#jumbotron {
    background-color: rgb(26, 188, 156);
    height: 450px;
    margin-bottom: 2rem;
}

section#portfolio {
    margin-bottom: 2rem;
}

div.my-cards div#first-card {
    background-color: rgb(186, 75, 99);
}

div.my-cards div#second-card {
    background-color: rgb(30, 164, 182);
}

div.my-cards div#third-card {
    background-color: black;
}

div.my-cards div#fourth-card {
    background-color: rgb(28, 131, 193);
}

div.my-cards div#fifth-card {
    background-color: rgb(14, 56, 181);
}

div.my-cards div#sixth-card {
    background-color: rgb(204, 178, 163);
}

section#about {
    height: 35rem;
    background-color: rgb(26, 188, 156);
    margin-bottom: 1.5rem;
}

section#contact-me {
    height: 27rem;
    border: 4px solid red;
    margin-bottom: 1.5rem;
}

footer#my-footer {
    height: 25rem;
}

footer section#my-footer-top {
    height: 19rem;
    background-color: rgb(58, 84, 109);
}

footer section#my-footer-bottom {
    height: 6rem;
    background-color: rgb(44, 62, 80);
}

