header {
    background-color: rgb(44, 62, 80);
    height: 60px;
}

input {
    border: none;
    border-bottom: 1px solid lightgray;
}

p > a {
    color:rgb(26, 188, 156);
}

p > a:hover {
    color:rgb(111, 214, 194);
}

.my-blue-color {
    color: rgb(44, 62, 80);
}

div.my-line {
    width: 80px;
    height: 3px;
    background-color: rgb(44, 62, 80);
}

.my-padding {
    padding: 0 120px;
}

div.border-in {
    width: 41px;
    height: 41px;
    padding: 2px 20px;
}

section#jumbotron,
section#about,
button.send-bg {
    background-color: rgb(26, 188, 156);
}

section#jumbotron {
    height: 450px;
}

img#avatar {
    width: 200px;
}

section#my-footer-top {
    background-color: rgb(58, 84, 109);
}

section#my-footer-bottom {
    background-color: rgb(44, 62, 80);
    font-size: .8rem;
}

img#facebook,
img#google,
img#twitter {
    width: 41px;
}

img#linkedin {
    width: 17px;
    height: 17px;
}

